.iconEyeClosed {
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-5));
}

.iconEyeCheck {
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-5));
}

.switchBox {

    color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-gray-7));
    size : "xl";

}