.themeIcon {
    color: var(--ifm-color-primary);
    transition: transform 0.3s ease;
  }
  
  .themeIcon:hover {
    transform: rotate(12deg);
  }
  

  .moonIcon {
    /* Specific styles for moon icon */
    color: #666;
  }

  .moonIcon:hover {
    /* Specific styles for moon icon */
    color: #6c8cd5;
  }